@tailwind base;
@tailwind components;
@tailwind utilities;

.prose {
  color: inherit; /* Rimuove il colore specifico */
  max-width: none; /* Rimuove la larghezza massima */
}

/* NOTE: preso da https://blog.logrocket.com/best-practices-for-loading-fonts-in-vue/ */
@font-face {
  font-family: 'Digital-7';
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+003A, U+0030-0039;
  src:
    local(Digital),
    url('fonts/Digital/digital-font.ttf') format('truetype');
}

:root {
  --popper-theme-background-color: oklch(var(--b3)); /* bg-base-200 */
  --popper-theme-background-color-hover: oklch(var(--b3)); /* bg-base-200 */
  --popper-theme-text-color: oklch(var(--bc));
  --popper-theme-border-width: 1px;
  --popper-theme-border-style: solid;
  --popper-theme-border-color: rgba(0, 0, 0, 0.2);
  --popper-theme-border-radius: 1rem; /* rounded-box */
  --popper-theme-padding: 0;
  --popper-theme-box-shadow: 0 1px 3px 0 rgb(var(--b3) / 0.1), 0 1px 2px -1px rgb(var(--b3) / 0.1); /* shadow shadow-base-300 */
}

@layer base {
  .Vue-Toastification__toast--info.themed {
    @apply bg-primary text-primary-content;
  }
  .Vue-Toastification__toast--success.themed {
    @apply bg-success text-success-content;
  }
  .Vue-Toastification__toast--warning.themed {
    @apply bg-warning text-warning-content;
  }
  .Vue-Toastification__toast--error.themed {
    @apply bg-error text-error-content;
  }

  .Vue-Toastification__close-button.themed {
    @apply text-primary-content;
  }
}

