@tailwind base;
@tailwind components;
@tailwind utilities;

.prose {
  margin: 0;
  color: inherit;
  /* Rimuove il colore specifico */
  max-width: none;
  /* Rimuove la larghezza massima */
}

.btn-outline, .input-bordered {
  border-style: solid !important;
}

img[title] {
  border-color: var(--surface-0);
}
